<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{ partial "seo.html" . }}
  {{ $style := resources.Get "css/site.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body class="{{ if .IsHome }}home{{ end }}">
  {{ partial "header.html" . }}
  {{ partial "hero.html" . }}
  <main id="main">{{ block "main" . }}{{ .Content }}{{ end }}</main>
  {{ partial "footer.html" . }}
  {{ partial "menu.js.html" . }}
</body>
</html>
