<footer class="site-footer">
  <div class="footer__wrap">
    <div class="footer__brand">
      <img src="/images/IMG_1102.jpeg" alt="{{ .Site.Title }} logo" class="brand__logo brand__logo--footer">
      <div>
        <strong>{{ .Site.Title }}</strong><br>
        Brentwood Bay, BC • <a href="tel:+17785575504">778-557-5504</a><br>
        <a href="mailto:abaileycounselling@gmail.com">abaileycounselling@gmail.com</a>
      </div>
    </div>
    <div class="footer__badges">
      <img src="/images/IMG_3334.jpeg" alt="RCC designation" class="rcc-badge">
    </div>
  </div>
</footer>
